@import url("https://fonts.googleapis.com/earlyaccess/notosansjp.css");
header {
  height: 50px;
  width: 100%;
  background: #fff;
  opacity: 0.6;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 999;
  font-family: 'Noto Sans JP';
}
header a {
  text-decoration: none;
  color: #000;
}
header a:hover {
  color: #808080;
}
header h1 {
  margin-left: 50px;
}
main {
  height: auto;
}
.box {
  height: 768px;
  width: 100%;
  margin: auto;
}
#top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
#top .top-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 615px;
  height: 200px;
  background: #fff;
  opacity: 0.75;
  border: 3px #808080 dotted;
  font-family: 'Noto Sans JP';
  font-size: 30px;
  color: #808080;
}
@media screen and (max-width: 960px) {
  #top .top-title {
    width: 70%;
    font-size: 28px;
  }
}
@media screen and (max-width: 480px) {
  #top .top-title {
    width: 95%;
  }
}
#profile {
  background: #fff;
  opacity: 0.5;
  height: auto;
  margin-bottom: 50px;
}
#profile .profile-box {
  width: 100%;
  height: 100%;
  margin: auto;
}
#profile .profile-box .profile-h2 {
  border: 3px #808080 dotted;
  margin: 50px auto 30px auto;
  width: 300px;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Noto Sans JP';
}
#profile .profile-box .profile-content {
  margin: auto;
  padding: 50px 30px 50px 30px;
  height: auto;
  width: 960px;
  border: 3px #808080 dotted;
  font-family: 'Noto Sans JP';
  display: grid;
  grid-auto-rows: 50px;
  grid-template-columns: repeat(auto-fill, 400px);
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media screen and (max-width: 960px) {
  #profile .profile-box .profile-content {
    width: 90%;
    grid-template-rows: 90px 200px 150px 150px;
  }
}
@media screen and (max-width: 480px) {
  #profile .profile-box .profile-content {
    width: 95%;
    grid-template-columns: repeat(auto-fill, 300px);
  }
}
#profile .profile-box .profile-content #boxA {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  grid-row: 1/2;
}
@media screen and (max-width: 960px) {
  #profile .profile-box .profile-content #boxA {
    grid-row: 1/1;
  }
}
#profile .profile-box .profile-content #boxB {
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
  grid-row: 3/7;
}
@media screen and (max-width: 960px) {
  #profile .profile-box .profile-content #boxB {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    grid-row: 2/2;
  }
}
#profile .profile-box .profile-content #boxC {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  grid-row: 1/3;
}
@media screen and (max-width: 960px) {
  #profile .profile-box .profile-content #boxC {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    grid-row: 3/3;
  }
}
#profile .profile-box .profile-content #boxD {
  -webkit-box-ordinal-group: 5;
  -ms-flex-order: 4;
  order: 4;
  grid-row: 4/7;
  padding-top: 30px;
}
@media screen and (max-width: 960px) {
  #profile .profile-box .profile-content #boxD {
    grid-row: 4/4;
  }
}
#profile .profile-box .profile-content .grid-box {
  width: 100%;
  height: 100%;
}
#profile .profile-box .profile-content .grid-box .flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
}
#profile .profile-box .profile-content .grid-box .flex-box .introduction {
  height: 160px;
}
@media screen and (max-width: 480px) {
  #profile .profile-box .profile-content .grid-box .flex-box .introduction {
    font-size: 15px;
  }
}
#profile .profile-box .profile-content .grid-box .flex-box p {
  font-size: 17px;
  word-wrap: break-word;
  width: 350px;
  height: auto;
  overflow: hidden;
}
#profile .profile-box .profile-content .grid-box .flex-box p:last-child {
  margin-bottom: 0;
}
#profile .profile-box .profile-content .grid-box .name {
  text-align: center;
  font-size: 20pt;
}
#profile .profile-box .profile-content .grid-box p {
  text-align: left;
  height: auto;
}
#profile .profile-box .profile-content .grid-box h3 {
  height: 30px;
  font-size: 20px;
  text-align: left;
}
#profile .profile-box .profile-content .flex-box2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.back-para {
  background-image: url("../img/back-img.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
#content {
  height: auto;
  padding-top: 50px;
}
.content {
  width: 960px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  font-family: 'Noto Sans JP';
}
@media screen and (max-width: 960px) {
  .content {
    width: 95%;
  }
}
.content a {
  text-decoration: none;
  color: #000;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 300px;
  height: 400px;
  background: #fff;
  border-radius: 5px;
}
@media screen and (max-width: 960px) {
  .content a {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
.content a .content-textbox {
  width: 250px;
  height: 200px;
  margin: 180px auto auto auto;
  background: #fff;
  border-radius: 5px;
  opacity: 0.8;
  text-align: center;
}
.content a .content-textbox h2 {
  font-size: 12pt;
  padding-top: 5px;
}
.content a .content-textbox p {
  font-size: 11pt;
  padding-top: 5px;
  width: 80%;
  margin: auto;
}
.content a:hover {
  -webkit-box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.4);
  box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.4);
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.content .content-01 {
  background-image: url("../img/content01.png");
  background-size: cover;
  background-position: center;
}
.content .content-02 {
  background-image: url("../img/content02.png");
  background-size: cover;
  background-position: center;
}
.content .content-03 {
  background-image: url("../img/content03.png");
  background-size: cover;
  background-position: center;
}
.content .content-04 {
  background-image: url("../img/content04.png");
  background-size: cover;
  background-position: center;
}
.content .content-05 {
  background-image: url("../img/content05.png");
  background-size: cover;
  background-position: center;
}
.content .content-06 {
  background-image: url("../img/content06.png");
  background-size: cover;
  background-position: center;
}
.content-h2 {
  border: 3px #808080 dotted;
  margin: 0 auto 30px auto;
  width: 300px;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  opacity: 0.7;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Noto Sans JP';
}
footer {
  height: 100px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
footer .link-icons {
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}
footer .link-icons a {
  color: #000;
}
footer .link-icons a:hover {
  opacity: 0.5;
}
footer p {
  margin-bottom: 20px;
}
